*, *:after, *:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 960px;
/*    background: beige;*/
    margin: 20px auto;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}

.avatar {
    flex-basis: 35%;
    background: #adabab;
    color: #ebebeb;
}

.h2-first {
    color: snow;
    border-bottom: 2px #5a5a5a dashed;
}

.heading {
    margin: 0;
    padding-bottom: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.photo-info {
    padding: 50px 30px 70px 30px;
}

.text {
    line-height: 24.19px;
    margin-bottom: 50px;
    font-size: 13px;
}

.photo {
    height: 230px;
    background: url(https://sun9-26.userapi.com/impg/OGWeUVVP7QyqQhqnOCJR-q34DtB4_uSQoI2gHA/kF3twn9AmK4.jpg?size=2078x2078&quality=95&sign=3204ff852f54b1e8a34751b0948763bb&type=album);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.phone {
    color: #fff;
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 400;
}

.link-number {
    color: #fff;
    text-decoration: none;
    padding-left: 27px;
    line-height: 20.97px;
    
}

.my-contact {
    border-bottom: 2px #5a5a5a dashed;
    padding-top: 24px;
    padding-bottom: 24px;
}

.fas {
    margin-right: 10px;
}

.far {
    margin-right: 10px;
}

.contact {
    margin-bottom: 70px;
}

.language {
    width: 100px;
    height: 100px;
    border: 6px solid #5c5c5c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 30px;
}

.lenguage:nth-child(3){
    margin-bottom: 0;
}

.language-text {
    text-transform: uppercase;
    font-size: 20px;
    
}

.language-per {
    font-size: 15px;
    font-weight: 600;
}

.lenguages {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}

.line {
    width: 90px;
    height: 2px;
    background-color: #5c5c5c;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lines {
    display: flex;
    flex-direction: column;
}

.line:nth-child(2) {
    width: 102px;
    margin-left: 20px;
}

.info-wrap {
    padding: 36px 56px;
    border: 1px solid rgba(168,168,168,0.44);
    min-height: 100%;
}

.info {
    padding: 25px 30px;
    flex-basis: 63%;
    background: #fff;
}

.logo-img {
    width: 90px;
    height: 90px;
    border: 1px solid #39383a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://i.pinimg.com/736x/2a/7f/a4/2a7fa43af03e8228ff3ff3462257834a.jpg);
    background-size: cover;
    background-position: center;
}

.logo {
    display: flex;
    justify-content: center;
    
    margin-bottom: 38px;
}

.logo-line {
    display: block;
    width: 43px;
    height: 2px;
    background: #39383a;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 17px;
    margin-right: 17px;
}

.logo-lites-left .logo-line:nth-child(2){
    margin-right: 20px;
    width: 55px;
}
.logo-lites-right .logo-line:nth-child(2){
    margin-left: 20px;
    width: 55px;
}
.about {
    text-align: center;
    border-bottom: 1px solid rgba(168,168,168,0.44);
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.name {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 11px;
}

.position {
    font-size: 9px;
    text-transform: uppercase;
    color: #808000;
    margin-bottom: 20px;
    display: inline-block;
}

.about-adres {
    font-size: 13px;
    margin-bottom: 15px;
    font-family: roboto;
}

.about-contacts {
    font-size: 10px;
}

.about-link {
    text-decoration: none;
    color: #777777;
}

.heading-white {
    font-size: 16px;
    border-bottom: 1px solid rgba(168,168,168,0.44);
    margin-bottom: 37px;
}

.list {
    list-style: none;
    padding-left: 0;
}



.list-item:before {
    content: '';
    background: black;
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    left: 0;
    top: 3;
}

.list-item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
    border-bottom: 2px dashed #ececec;
}

.list-item-4 {
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.list-item-date {
    font-size: 11px;
    text-transform: uppercase;
    
    
}

.item-info {
    font-size: 10px;
    color: #777;
}

.list-item2 {
    border: none;
}

.white_lvlup {
    margin-bottom: 48px;

}

.lvlup-list-item1 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
}

.level {
    width: 70%;
    height: 8px;
    border: 1px solid black;
    position: relative;

}

.level:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: grey;
}

.lvl1:before {
    width: 85%;
}

.lvl2:before {
    width: 75%;
}

.lvl3:before {
    width: 40%;
}

