a{
	text-decoration: none
}

.drop-box{
background: linear-gradient(to right,  #B0B0B2,#18181B);
border-radius: 0;
padding: 1px;
border: none;
}


.bg-black100{
	background: #18181B;
}

.bg-black50{
	background: #252532;
}

.btn-gradient-cont{
	border: 1px solid transparent;
	border-image: linear-gradient(to right, #0CBAF1,#E95CE9);
	border-image-slice: 1;
	padding: 12px 24px;
	background: transparent;
	line-height: 1;
}

.btn-gradient-cont:hover{
	border: 1px solid transparent;
	border-image: linear-gradient(to right, #0CBAF1,#E95CE9);
	border-image-slice: 1;
	background: linear-gradient(to right, #0CBAF1,#E95CE9);
}

.btn-gradient-cont2{
	border: 1px solid transparent;
	border-image: linear-gradient(to right, #0CBAF1,#E95CE9);
	border-image-slice: 1;
	background: linear-gradient(to right, #0CBAF1,#E95CE9);
	padding: 12px 24px;
	line-height: 1;
}

.border-grad{
	border: 1px solid transparent;
	border-image: linear-gradient(to right, #0CBAF1,#E95CE9);
	border-image-slice: 1;
}

.foot-icon{
	width: 46px;
	height: 46px;
	border-radius: 50%;
	padding: 2px;
	background:linear-gradient(to right, #0CBAF1,#E95CE9) ;
}



.foot-icon div {
	border-radius: 50%;
}

.foot-link:hover  img{
transform: scale(1.2);
transition: 1s;
}


th, td {
	color: white !important;
	background: transparent !important;
}

.bg-grad{
	background:linear-gradient(to right, #0CBAF1,#E95CE9) ;
}

.text-grad{
	 background-image: linear-gradient(to right, #0CBAF1,#E95CE9);
	 color: transparent;
	 background-clip: text;
	 -webkit-background-clip: text;
}

.round{
border-radius: 50%;
border: 1px solid rgba(255, 255, 255, 0.17);
display: flex;
justify-content: center;
align-items: center;
}

#r1{
	width:1055px ;
	height:1055px ;
	          border: 1px solid rgba(255, 255, 255, 0.17);
	border-left: transparent;
	border-right: transparent;
	border-bottom: transparent;
}

#r2{
	width:917px ;
	height:917px ;
	border: none;
	background: #18181B;


}

.r2-l{
	padding: 1px;
	background:linear-gradient(to right, #0CBAF1,#E95CE9) ;
	border-radius: 50%;
}

#r3{
	width:760px ;
	height:760px ;
	          border: 1px solid rgba(255, 255, 255, 0.17);
	border-left: transparent;
	border-right: transparent;
	border-bottom: transparent;
}

#r4{
	width:623px;
	height:623px ;
	          border: 1px solid rgba(255, 255, 255, 0.17);
	border-left: transparent;
	border-right: transparent;
	border-bottom: transparent;
}

#r5{
	width:477px ;
	height:477px ;
	          border: 1px solid rgba(255, 255, 255, 0.17);
	border-left: transparent;
	border-right: transparent;
	border-bottom: transparent;
}

.part-icon1{
border-radius: 50%;
/*background: rgba(37, 37, 50, 0.8);*/
}

.part-icons{
	width: 101px;
	height: 101px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.17);
}

.scale{
	scale:0.7;

}


        #r1, #r2, #r3, #r4, #r5{

          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
        }

#r5 img{
	margin-left: 45px;
	width: 150%;
}

        .cirkle1 {
          width: 101px;
          height: 101px;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 50%;
        }



.kostyl{
	height: 50%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0
}


footer{
	background: url(../img/33.png);
	background-repeat: no-repeat;
	min-height: 500px;
	padding-top: 115px;
	background-size: contain;
}

.banner-h{
font-size: 64px;
line-height: 1;
letter-spacing: -0.5%;
}

.btn-glow{
	background: linear-gradient(to right, #0CBAF1,#E95CE9);
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	border-radius: 0;
	border: none;
	transition: 1s;
}

.btn-glow:hover{
	transition: 1s;
	box-shadow: 0px 0px 60px 0px #E95CE9;
	color: white;
}

.banner{
	background:url(../img/Assets.png);
	background-repeat: no-repeat;
}

.accordion-item:focus, .accordion-button:focus{
	background: transparent !important;
	color: white;
	box-shadow: none;

}

.accordion-item, .accordion-button{
	background: transparent !important;
	color: white;
	box-shadow: none;

}


.form-check-input:focus, .form-check:focus{
	box-shadow: none;
	border: none;
}

.form-check-input, .form-check{
	border: none;
}



.be-bb{
	border-right:1px solid rgba(255, 255, 255, 0.1);
}


#sync1 {
  .item {
    background: #0c83e7;
    padding: 80px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }
}

#sync2 {
  .item {
    background: #C9C9C9;
    padding: 10px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    h1 {
      font-size: 18px;
    }
  }
  .current .item{
    background: #0c83e7;
  }
}



.owl-theme {
  .owl-nav {
    /*default owl-theme theme reset .disabled:hover links */
    [class*='owl-'] {
      transition: all .3s ease;
      &.disabled:hover {
       background-color: #D6D6D6;
      }   
    }
    
  }
}

/*arrows on first carousel*/
#sync1.owl-theme {
  position: relative;
  .owl-next, .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
  }
  .owl-prev {
    left: 10px;
  }
  .owl-next {
    right: 10px;
  }
}

.bg-lighter{
	background: url(../img/lighter.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


.bg-team{
	height: 370px;
	background: linear-gradient(to bottom, transparent, #192883);
}

.team-border{
	border: 1px solid transparent;
	border-image: linear-gradient(to right, white,#18181B);
	border-image-slice: 1;
}

.team-border:hover{
	border: 1px solid transparent;
	border-image: linear-gradient(to right, #0CBAF1,#E95CE9);
	border-image-slice: 1;
}

.bg-black50-5{
	background: rgba(37, 37, 50, 0.5);
}

.galka {
	list-style-image: url(../img/check.png);
	line-height: 28px;
}

#r4 .bg-black50-5{
	width: 430px;
	margin: auto;
}

.w-85{
	width: 85%;
}

.glk{
	list-style-image: url(../img/icon/glk.png);
}