
/*xl*/
@media screen and (width < 1400px){
	
}

/*lg*/
@media screen and (width < 1200px){
	
}


/*md*/
@media screen and (width < 992px){
	#r1{
		width: 400px;
		height: 400px;
	}
	#r2{
		width: 343px;
		height: 343px;
	}
	#r3{
		width: 290px;
		height: 290px;
	}
	#r4{
		width: 244px;
		height: 244px;
	}	
	#r5{
		width: 194px;
		height: 194px;
	}

	.cirkle1, .part-icons{
		width: 42px;
		height: 42px;
	}

	.cirkle1 img{
		width: 80%;
	}

	#r5 img{
		margin-left: 20px;
	}
}

/*sm*/
@media screen and (width < 768px){
	
}

/*xs*/
@media screen and (width < 576px){
	
}


